{% extends "base.html" %}

{% block tittle %} {{nombre}} {% endblock %}

{% block content %}

<style>
    #lista {
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

    #lista li {
        display: inline;
        height: 100%;
        margin: 0 10px;
        position: relative;
        font: menu;
        font-size: 10px;
    }

    #lista a {
        background: white;
        border: 1px solid #006699;
        text-decoration: none;
        padding: 10px 25px;
        margin: 10px;
        color: black;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #lista a:hover {
        background: cornflowerblue;
        color: black;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
</style>

<div>
    <h2>Bienvenido</h2>
    <h2>Usuario</h2>
    <ul id="lista">
        <li><a href="/moduloUsuario/Usuario/Modificar">modificar</a></li>
        <!-- <li><a href="/moduloUsuario/Usuario/Mensajeria">mensajeria</a></li> -->
        <li><a href="/moduloUsuario/Usuario/Eliminar">eliminar</a></li>
    </ul>

    <h2>Perfil</h2>
    <ul id="lista">
        {% if perfil %}
        <li><a href="/moduloUsuario/Perfil/Modificar">modificar</a></li>
        {% else %}
        <li><a href="/moduloUsuario/Perfil/Crear">crear</a></li>
        <li><a href="/moduloUsuario/Perfil/Modificar">modificar</a></li>
        {% endif %}

    </ul>
</div>

{% endblock %}