{% extends "base.html" %}

{% block tittle %} {{nombre}} {% endblock %}

{% block content %}

<style>

    #lista{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

    #lista li{
        display: inline;
        height: 100%;
        margin: 0 10px;
        position: relative;
        font: menu;
        font-size: 10px;
    }

    #lista a {
        background: white;
        border: 1px solid #006699;
        text-decoration: none;
        padding: 10px 25px;
        margin: 10px;
        color: black;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #lista a:hover {
        background: cornflowerblue;
        color: black;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
</style>

<div style="margin-left: 50px; margin-top: 50px;">
    <div style="margin-bottom: 20px;">
    <h2>Lista de Devoluciones:</h2>
    <div style="padding: 100; margin-top: 10px; background-color: white; width: 300;">
    </div>
    <div style="margin-top: 20px">
    <p>Informacion de la Devolucion:</p>
    </div>
    <div style="margin-bottom: 30px;">
    <p>Fecha de solicitud:</p>
    <output type="date" name="fechaS" required="required" value="" placeholder="dd / mm / aa" autocomplete="off">
    </div>
    <div style="margin-bottom: 30px;">
    <p>Fecha de compra:</p>
    <output type="date" name="fechaC" required="required" value="" placeholder="dd / mm / aa" autocomplete="off">
    </div>
    <div style="margin-bottom: 30px;">
    <p>Motivo:</p>
    <output type="text" name="motivo" required="required" value="" placeholder="" autocomplete="off">
    </div>
    <div style="margin-bottom: 20px;">
    <button>Aceptar</button>
    </div>
    <div>
    <button>Denegar</button>
    </div>
</div>

{% endblock %}