{% extends "base.html" %}

{% block tittle %} {{nombre}} {% endblock %}

{% block content %}

<div style="margin-bottom: 20px">
    {% if noti %}
    <p style="background-color: mediumseagreen">
      Actualizacion realizada con exito
    </p>
    {% endif %}
  </div>

  <div style="margin-left: 50px; margin-top: 50px;">
    <form action="/moduloUsuario/Perfil/Modificar2" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div style="margin-bottom: 20px;">
            <h2>Bienvenido:</h2>
        </div>
        <p>Habla sobre ti:</p>
        <input type="text" name="comentario" required="required" value="{{descripcion}}" autocomplete="off">
        <br>
        <label>Foto de perfil</label>
        <br>
        <div>
            {% if foto %}
                <img src="{{foto.url}}" width="200" height="200">
            {% endif %}
        </div>
        <input type="file" name="foto" id="foto">

        <div style="margin-top: 10px; ">
            {% if mensajeria %}
                <label><input type="checkbox" name="msj" id="msj" value= "on" checked> Mensajeria Directa</label><br>
            {% else %}
                <label><input type="checkbox" name="msj" id="msj" value= "on"> Mensajeria Directa</label><br>
            {% endif %}
            
            {% if suscripcion %}
                <label><input type="checkbox" name= "noti" id="noti" value="on" checked> Suscripcion Noticias</label>
            {% else %}
                <label><input type="checkbox" name= "noti" id="noti" value="on"> Suscripcion Noticias</label>
            {% endif %}
        </div>
        <div style="margin-top: 20px;">
            <input type="submit" value="Actualizar Perfil">
        </div>
    </form>
    <form action="/moduloUsuario/Perfil/Eliminar" method="POST">
        <div style="margin-top: 20px;">
            <input type="submit" value="Eliminar">
        </div>
    </form>
</div>

{% endblock %}