{% extends "base.html" %}

{% block tittle %} {{nombre}} {% endblock %}

{% block content %}

<style>
    #lista {
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

    #lista li {
        display: inline;
        height: 100%;
        margin: 0 10px;
        position: relative;
        font: menu;
        font-size: 10px;
    }

    #lista a {
        background: white;
        border: 1px solid #006699;
        text-decoration: none;
        padding: 10px 25px;
        margin: 10px;
        color: black;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #lista a:hover {
        background: cornflowerblue;
        color: black;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
</style>

<div style="margin-left: 50px; margin-top: 50px;">
    <form action="/moduloUsuario/Perfil/Crear2" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div style="margin-bottom: 20px;">
            <h2>Bienvenido:</h2>
        </div>
        <p>Habla sobre ti:</p>
        <input type="text" name="comentario" required="required" value="" placeholder="Escribe..." autocomplete="off">
        <br>
        <label>Foto de perfil</label>
        <br>
        <input type="file" name="foto" id="foto">


        <div style="margin-top: 10px; ">
            <label><input type="checkbox" name="msj" id="msj" value= "on"> Mensajeria Directa</label><br>
            <label><input type="checkbox" name= "noti" id="noti" value="on"> Suscripcion Noticias</label>
        </div>
        <div style="margin-top: 20px;">
            <input type="submit" value="Crear Perfil">
        </div>
    </form>
    <form action="https://tleladn.herokuapp.com/moduloUsuario/" method="GET">
        <div style="margin-top: 20px;">
            <input type="submit" value="Cancelar">
        </div>
    </form>
</div>

{% endblock %}